.button {
  .link-reset();
  .flex-row-center();
  .featured-green();

  min-width: 260px;
  min-height: 50px;
  align-items: center;
  color: @black;

  border: 2px solid @black;

  &:hover {
    background-color: rgba(68, 68, 68, 1);
    color: @bg-white;
    border: none;
  }

  &:active {
    color: @bg-white-03;
  }
}
