.feedback {
  .padding();

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  position: relative;
  .wave-border();
}

.feedback__header {
  .featured-category();
}

.feedback__slider-wrapper {

}

.feedback__write-button {
  margin-bottom: 45px;
}
