.form-order__fieldset {
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  margin-left: 0px;

  border: none;
  border-top: 1px solid @grn-lite;

  &--type input[type="radio"] + label:after {
    content: "";
    width: 40px;
    height: 40px;

    display: block;
    position: absolute;
    top: -9px;
    left: -63px;

    border: 2px solid black;
    border-radius: 50%;
  }

  &--type input[type="radio"]:checked + label:before {
    content: "";
    width: 16px;
    height: 16px;

    display: block;
    position: absolute;
    top: 3px;
    left: -51px;

    background-color: #62d1ba;
    border-radius: 50%;
  }

  &--color {
    margin-bottom: -1px;
  }

  &--color input[type="checkbox"]:checked + label:after {
    content: "";
    width: 22px;
    height: 22px;

    display: block;
    position: absolute;
    top: -2px;
    left: -54px;

    background-image: url("../img/icon-tick.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--contact-data {
    margin-bottom: 10px;
  }

  &--phone {
    margin-bottom: 32px;
    // margin-bottom: 2px;

    position: relative;
  }

  &--email {
    margin-bottom: 32px;

    position: relative;
  }

  &--comment {
    margin-bottom: 32px;
  }
}

.form-order__legend {
  margin-left: -2px;
  margin-bottom: 28px;

  font-size: 17px;
  font-weight: 700;
  line-height: 16px;
  text-transform: uppercase;
  color: @grn-lite;

  &--type {
    padding-right: 25px;
  }

  &--color {
    margin-bottom: 30px;
    padding-right: 19px;
  }

  &--contact-data {
    padding-right: 19px;
  }

  &--phone {
    padding-right: 29px;
    margin-bottom: 22px;
  }

  &--email {
    padding-right: 25px;
    margin-bottom: 22px;
  }

  &--comment {
    padding-right: 24px;
    margin-bottom: 25px;
  }
}

.form-order__label {
  margin-left: 63px;
  margin-top: 6px;
  margin-bottom: 24px;

  display: block;
  position: relative;

  font-size: 17px;
  font-weight: 700;
  line-height: 18px;

  &--color {
    margin-bottom: 43px;
  }

  &--color::before {
    content: "";
    width: 40px;
    height: 40px;

    display: block;
    position: absolute;
    top: -11px;
    left: -63px;

    border: 2px solid black;
  }

  &--contact-data {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 18px;
  }
}

.form-order__fieldset--contact-data input {
  width: 100%;
  margin-bottom: 21px;
  padding-bottom: 14px;

  display: block;

  font-size: 17px;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid @black;
}

.form-order__with-icon {   //IS THIS OK?
  width: 100%;
  padding-bottom: 16px;

  display: block;
  // position: relative;

  font-size: 17px;
  line-height: 18px;

  border: none;
  border-bottom: 2px solid @black;

  &:hover + span {
    fill: @grn;
    opacity: 1;
  }
}

.form-order__icon {
  margin: 0;
  padding: 0;
  border: 0;
  left: 228px;
  bottom: 10px;

  display: inline-block;
  position: absolute;

  opacity: 0.2;

  &--email {
    left: 225px;
    bottom: 3px;
  }
}

.form-order__comment-placeholder {
  width: 260px;
  min-height: 142px;
  padding-left: 15px;
  padding-top: 15px;
  margin-bottom: 10px;

  font-size: 17px;
  line-height: 18px;

  border: 2px solid @black;
}

.form-order__comment-remark {
  display: block;

  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: rgba(68, 68, 68, 1);
}

@media (min-width: @tablet-width) {
  .form-order__fieldset {
    width: 765px;
    padding: 0 50px;
    margin: 0 auto;
    padding-left: 233px;
    margin-top: -8px;

    position: relative;

    border: none;

    &--type input[type="radio"] + label:after {
      content: "";
      width: 52px;
      height: 52px;

      display: block;
      position: absolute;
      top: -15px;
      left: -81px;

      border: 2px solid black;
      border-radius: 50%;
    }

    &--type input[type="radio"]:checked + label:before {
      content: "";
      width: 21px;
      height: 21px;

      display: block;
      position: absolute;
      top: 0px;
      left: -65px;

      background-color: #62d1ba;
      border-radius: 50%;
    }

    &--type {
      margin-bottom: 19px;
    }

    &--color {
      max-height: 302px;
      margin-bottom: 11px;
      padding-top: 60px;
      padding-bottom: 24px;
    }

    &--color input[type="checkbox"]:checked + label:after {
      content: "";
      width: 35px;
      height: 35px;

      top: -9px;
      left: -70px;
    }

    &--contact-data {
      margin-bottom: 20px;
      padding-top: 64px;
      padding-left: 217px;
    }

    &--contact-data input {
      margin-bottom: 39px;
      padding-bottom: 16px;
      padding-left: 18px;
    }

    &--phone {
      margin-bottom: 47px;
      padding-top: 64px;
      padding-left: 215px;
    }

    &--phone input {
      padding-left: 17px;

      background-color: @bg-grey;
    }

    &--email {
      padding-bottom: 50px;
      padding-left: 215px;
      margin-bottom: 50px;
    }

    &--email input {
      padding-left: 17px;

      background-color: @bg-grey;
    }

    &--comment {
      margin-top: 0px;
      padding-left: 215px;
      margin-bottom: 16px;

      position: relative;
    }
  }

  .form-order__legend {
    position: absolute;
    left: 50px;
    top: 67px;

    &--type {
      top: 9px;
    }

    &--phone {
      top: 66px;
    }

    &--email {
      top: 2px;
    }

    &--comment {
      top: 17px;
    }
  }

  .form-order__label {
    font-size: 19px;
    line-height: 18px;

    &--type {
      margin-bottom: 58px;
    }

    &--color {
      width: 120px;
      height: 50px;
      margin-bottom: 20px;
      margin-right: 38px;
    }

    &--color::before {
      content: "";
      width: 52px;
      height: 52px;

      display: block;
      position: absolute;
      top: -16px;
      left: -80px;

      border: 2px solid black;
    }

    &--contact-data {
      margin-right: 23px;
    }
  }

  .form-order__color-labels-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-end;
  }

  .form_order__background-wrapper {
    background-color: @bg-grey;
  }

  .form-order__contact-label-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }

  .form-order__icon {
    left: 666px;
    bottom: 10px;

    &--email {
      left: 662px;
      bottom: 53px;
    }
  }

  .form-order__comment-placeholder {
    width: 501px;
  }

  .form-order__button-wrapper {
    width: 668px;
    margin: 0 auto;
    padding-top: 22px;
  }

  .form_order__button {
    width: 230px;
  }

  .form-order__comment-remark {
    font-size: 17px;
    line-height: 30px;

    position: absolute;
    right: 50px;
    bottom: -76px;
  }
}

@media (min-width: @desktop-width) {
  .form-order__fieldset {
    width: 1050px;
    padding-right: 111px;
    padding-left: 193px;

    &--type {
      margin-bottom: 19px;
    }

    &--color {
      max-height: 302px;
      margin-bottom: 11px;
      padding-top: 60px;
      padding-bottom: 14px;
    }

    &--contact-data {
      padding-left: 178px;
      padding-right: 174px;
    }

    &--phone {
      padding-left: 176px;
      padding-right: 174px;
    }

    &--email {
      padding-left: 176px;
      padding-right: 174px;
    }

    &--comment {
      padding-left: 178px;
      padding-right: 174px;
    }
  }

  .form-order__icon {
    left: 843px;
    bottom: 13px;

    &--email {
      left: 840px;
      bottom: 53px;
    }
  }

  .form-order__comment-placeholder {
    width: 700px;

    font-size: 19px;
    line-height: 18px;
  }

  .form-order__legend {
    position: absolute;
    left: 65px;
    top: 67px;

    &--type {
      top: 9px;
    }

    &--color {
      left: 60px;
    }

    &--contact-data {
      left: 62px;
    }

    &--phone {
      top: 66px;
    }

    &--email {
      top: 2px;
    }

    &--comment {
      top: 17px;
    }
  }

  .form-order__label {
    font-size: 19px;
    line-height: 18px;

    &--type {
      margin-bottom: 58px;
    }

    &--color {
      width: 120px;
      height: 50px;
      margin-bottom: 20px;
      margin-right: 38px;
    }

    &--color::before {
      content: "";
      width: 52px;
      height: 52px;

      display: block;
      position: absolute;
      top: -16px;
      left: -80px;

      border: 2px solid black;
    }

    &--contact-data {
      margin-right: 23px;
    }
  }

  .form-order__button-wrapper {
    width: 700px;
    margin: 0 auto;
    padding-top: 17px;
  }

  .form-order__comment-remark {
    right: 174px;
    bottom: -72px;
  }
}
