.info {
  .padding();
  width: 320px;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.info__header {
  font-weight: 700;
  font-size: 25px;
  line-height: 30px;
}

.info__list {
  .list-reset();
}

.info__item {
  min-width: 260px;
  min-height: 100px;
  margin-bottom: 20px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  & p {
    margin: 0;

    font-size: 17px;
    font-weight: 700;
    line-height: 20px;
  }

  &::before {
    content: "";
    width: 50px;
    height: 60px;
    position: absolute;

    top: 0;
    left: 0;

    background-repeat: no-repeat;
    background-position: center;
  }

  &--flower::before {
    background-image: url("../img/icon-feature-flower.svg");
  }

  &--money::before {
    background-image: url("../img/icon-feature-money.svg");
  }

  &--heart::before {
    background-image: url("../img/icon-feature-heart.svg");
  }

  &--ball::before {
    background-image: url("../img/icon-feature-ball.svg");
  }

  &--rocket::before {
    background-image: url("../img/icon-feature-rocket.svg");
    width: 70px;
    left: -10px;
  }

  &--gift::before {
    background-image: url("../img/icon-feature-gift.svg");
  }

  &:last-child {
    margin-bottom: 35px;
  }
}
