.msin_nav {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

// .main-nav__wrapper {
//   display: flex;
//   flex-direction: column;
//   flex-wrap: wrap;
// }

.main-nav__list {
  .list-reset();
}

.main-nav__logo-wrapper {
  .border-mob();
}

.main-nav__center {
  .padding();

  width: 320px;
  margin: 0 auto;
  min-height: 80px;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav__remark {
  display: none;
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 768px;
    padding: 0 50px;
    margin: 0 auto;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .main-nav__logo-wrapper {
    width: 320px;
    min-height: 88px;

    position: relative;

    display: flex;
    align-items: flex-start;

    border-bottom: none;
  }

  .main-nav__center {
    width: auto;
    margin: 0;
    padding: 0;

    position: relative;
    left: -2px;
    top: 2px;

    order: 0;
  }

  .main-nav__remark {
    width: 234px;
    order: 3;
    position: relative;

    display: block;
  }

  .main-nav__remark-text {
    position: relative;
    top: 15px;
    left: 4px;

    color: #444444;

    display: block;
  }
}

@media (min-width: @desktop-width) {
  .main-nav {
    width: 1150px;
    flex-wrap: wrap;
    justify-content: flex-start;
  }

  .main-nav__logo-wrapper {
    width: auto;
    margin-left: -3px;
    margin-top: 4px;

    order: 2;
  }

  .main-nav__center {
    width: 180px;
  }

  .main-nav__remark {
    margin-left: 375px;
    margin-top: -4px;
  }
}
