.page-header {
  width: auto;
  background-color: @bg-white;
}

.page-header__logo {
  .hover-active();
  .border-mob();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.page-header__logo-img {
  width: 86px;
  height: 35px;
}

.page-header__logo-img-tablet {
  width: 113px;
  height: 47px;
  display: none;
}

.page-header__button-close {
  background-color: transparent;
  outline: none;
  border: none;

  position: absolute;
  right: 30px;
  top: 29px;

  width: 21px;
  height: 20px;

  display: flex;

  background-image: url("../img/icon-menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.page-header__button-burger {
  background-color: transparent;
  outline: none;
  border: none;

  position: absolute;
  right: 30px;
  top: 29px;

  width: 21px;
  height: 20px;

  display: none;
  // display: block;

  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.page-header__logo-img-tablet {
  display: none;
}

.page-header__logo-img-desktop {
  display: none;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: linear-gradient(to bottom, #ffffff 51%, #ededed 51%, #f9f9f9 52%);

    &--grey {
      background-image: linear-gradient(to bottom, #ffffff 51%, #ededed 51%, #f1f1f1 52%);
    }
  }

  .page-header__logo {
    border-bottom: none;
  }

  .page-header__logo-img {
    display: none;
  }

  .page-header__logo-img-tablet {
    display: block;
  }
  .page-header__button-close {
    display: none;
  }

  .page-header__logo-img-desktop {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: linear-gradient(to bottom, #ffffff 51%, #ededed 51%, #f9f9f9 52%);
    padding-bottom: 41px;

    &--grey {
      background-image: linear-gradient(to bottom, #ffffff 51%, #ededed 51%, #f1f1f1 52%);
    }
  }

  .page-header__logo-img-tablet {
    display: none;
  }

  .page-header__logo-img-desktop {
    display: block;
  }
}
