.review-slider__slide-wrapper {
  margin-bottom: 40px;
}

.review-slider__text {
  margin: 0;
  margin-bottom: 40px;
  line-height: 30px;
}

.review-slider__author {
  font-size: 17px;
  font-weight: 700;
  line-height: 24px;
}

.review-slider__author-profile {
  .link-reset();

  font-size: 17px;
  line-height: 30px;
}
