.site-list {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-list__link {
  .link-reset();
  .nav-link();
  .nav-link-size();
  .center-content();
  .hover-active-bl();
  .border-mob();
  .border-test();

  padding-left: 75px;

  &--search {
    position: relative;
  }

  &--search::before {
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    left: 30px;

    opacity: 0.3;

    background-image: url("../../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--search:hover::before {
    opacity: 1;
  }

  &--search:focus::before,
  &--search:active::before {
    opacity: 0.2;
  }
}
