.social {
  .list-reset();

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.social__item {
  min-height: 80px;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social__link {
  .link-reset();
  margin: 0 15px;
  width: 30px;
  height: 30px;

  background-repeat: no-repeat;
  background-position: center;

  &--instagram {
    background-image: url("../../img/icon-insta.svg");
  }

  &--facebook {
    background-image: url("../../img/icon-fb.svg");
  }

  &--twitter {
    background-image: url("../../img/icon-twitter.svg");
  }

  // &--instagram:hover {
  //
  // }
  //
  // &--facebook:hover {
  //
  // }
  //
  // &--twitter:hover {
  //
  // }
}
