.user-list {
  .list-reset();
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list__item {
  .border-mob();
  width: 100%;
}

.user-list__link {
  .link-reset();
  .hover-active-bl();

  width: 320px;
  height: 80px;
  margin: 0 auto;
  padding-left: 75px;

  font-size: 17px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &--cart {
    position: relative;
  }

  &--cart::before {
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    left: 30px;

    opacity: 0.3;

    background-image: url("../../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--cart:hover::before {
    opacity: 1;
  }

  &--cart:focus::before,
  &--cart:active::before {
    opacity: 0.2;
  }

  &--search {
    position: relative;
  }

  &--search::before {
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    left: 30px;

    opacity: 0.3;

    background-image: url("../../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--search:hover::before {
    opacity: 1;
  }

  &--search:focus::before,
  &--search:active::before {
    opacity: 0.2;
  }
}
