.user-list {
  .list-reset();
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-list__item {
  .border-mob();
  width: 100%;
}

.user-list__link {
  .link-reset();

  width: 320px;
  height: 80px;
  margin: 0 auto;
  padding-left: 75px;

  font-size: 17px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
    .user-list__search-icon-path {
      fill: red;
    }
  }

  &:active,
  &:focus {
    color: rgba(0, 0, 0, 0.3);
  }

  &--cart {
    position: relative;
  }

  &--cart::before {
    content: "";
    width: 20px;
    height: 20px;

    position: absolute;
    left: 30px;

    opacity: 0.3;

    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--cart:hover::before {
    opacity: 1;
  }

  &--cart:focus::before,
  &--cart:active::before {
    opacity: 0.2;
  }

  &--search {
    position: relative;
  }

  // &--search::before {
  //   content: "";
  //   width: 20px;
  //   height: 20px;
  //
  //   position: absolute;
  //   left: 30px;
  //
  //   opacity: 0.3;
  //
  //   background-image: url("../img/icon-search.svg");
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }
  //
  // &--search:hover::before {
  //   opacity: 1;
  // }
  //
  // &--search:focus::before,
  // &--search:active::before {
  //   opacity: 0.2;
  // }
}

.user-list__search-icon {
  // width: 20px;
  height: 70px;

  // display: inline-block;
  position: absolute;
  left: 30px;

  // line-height: 4px;

  opacity: 0.3;

  border: 1px red solid;
}

@media (min-width: @tablet-width) {
  .user-list {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .user-list__link--search {
    width: 81px;
    padding-left: 0;
    margin: 0;
    font-size: 0;
  }

  .user-list__link--cart {
    width: 265px;
    align-self: flex-end;
  }
}
