.user-list {
  .list-reset();
  width: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  order: 2;
}

.user-list__item {
  .border-mob();
  width: 100%;
}

.user-list__link {
  .link-reset();

  width: 320px;
  height: 80px;
  margin: 0 auto;
  padding-left: 75px;
  position: relative;

  font-size: 17px;
  font-weight: 700;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &:hover {
    color: rgba(0, 0, 0, 0.6);

    .user-list__search-icon {
      opacity: 1;
    }

    .user-list__cart-icon {
      opacity: 1;
    }

    .user-list__search-icon-path,
    .user-list__cart-icon-path {
      fill: #63d1bb;
    }
  }

  &:active,
  &:focus {
    color: rgba(0, 0, 0, 0.3);

    .user-list__search-icon,
    .user-list__cart-icon {
      opacity: 0.3;
    }
  }
}

.user-list__search-icon {
  width: 20px;
  height: 70px;
  position: absolute;
  left: 30px;

  line-height: 4px;

  display: flex;
  align-items: center;

  opacity: 0.3;
}

.user-list__cart-icon {
  width: 20px;
  height: 70px;

  position: absolute;
  left: 30px;
  opacity: 0.3;

  line-height: 4px;

  display: flex;
  align-items: center;
}

@media (min-width: @tablet-width) {
  .user-list {
    width: 348px;

    order: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: stretch;
    align-content: stretch;
  }

  .user-list__item {
    width: auto;
    padding: 0;
    margin:0;

    border-bottom: none;
  }

  .user-list__link {
    align-items: flex-end;
    flex-wrap: wrap;
  }

  .user-list__link--search {
    width: 83px;
    min-height: 86px;

    padding-left: 0;
    margin: 0;
    font-size: 0;

    border-left: 1px solid rgba(236, 236, 236, 1);
    border-right: 1px solid rgba(236, 236, 236, 1);
  }

  .user-list__search-icon {
    left: 34px;
  }

  .user-list__link--cart {
    width: 265px;
    padding-right: 0;
    padding-bottom: 10px;
    min-height: 88px;

    text-align: right;
  }

  .user-list__cart-icon {
    left: 33px;
    top: 6px;
  }
}

@media (min-width: @desktop-width) {
  .user-list {
    margin-left: 83px;
    margin-top: 5px;

    order: 3;
  }

  .user-list__link--search {
    min-height: 89px;
    margin-top: -5px;
  }

  .user-list__search-icon {
    // margin-top: 28px;
    //
    // display: block;
  }
}
