.border-test() {
  // border: 2px dotted red;
}

.border-mob() {
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}

.list-reset() {
  list-style: none;
  margin: 0;
  padding: 0;
}

.link-reset() {
  text-decoration: none;
  display: block;
}

.padding() {
  padding: 0 30px;
}

.hover-active() {
  &:hover {
    opacity: 0.6;
  }

  &:active,
  &:focus {
    opacity: 0.3;
  }
}

.wave-border() {
  background-image: url("../../img/bg-zigzag-line.svg");
  background-position: bottom;
  background-repeat: repeat-x;
  background-size: contain;
  background-clip: border-box;
}
